.container-login {
  background-color: #0867d8;
  height: 100vh;
  display: flex;
  background-image: url("../../../../assets/brain-image.png");
  background-repeat: no-repeat;
  background-position: center;
}

.login-card {
  margin: auto;
  width: 350px;
  padding: 20px;
  text-align: center;
}

.title {
  text-align: center;
  color: white;
  margin-bottom: 40px;
}

.field {
  width: 100%;
}

.link-container {
  margin-bottom: 20px;
  text-align: end;
}

.link {
  color: #0cc2aa;
  text-decoration: underline;
  font-size: small;
  cursor: pointer;
}

.text-register {
  color: #ffffff;
  font-size: small;
}

.button-pass {
  background-color: #0cc2aa;
  color: rgb(255, 255, 255);
  font-size: large;
  width: 100%;
  outline: 0;
  border: none;
  padding: 5px 8px;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.button-pass:disabled {
  cursor: unset;
}

.icon-input {
  color: #0cc2aa;
}

.text-error {
  text-align: start;
  color: #ff9595;
  font-size: 12px;
  margin-top: -30px;
}

form {
  display: grid;
  gap: 10px;
  margin-bottom: 20px;
}

.logo {
  width: 300px;
  margin-bottom: 40px;
}
