<h2 class="title">Agregar archivos</h2>

<form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
  <!-- Campo para el título -->
  <div>
    <mat-form-field class="field">
      <mat-label>Título</mat-label>
      <input matInput formControlName="title" placeholder="Ingresa el título" />
    </mat-form-field>
  </div>

  <!-- Campo para el título 2 -->
  <div>
    <mat-form-field class="field">
      <mat-label>Nivel</mat-label>
      <mat-select formControlName="current_level">
        @for (item of currentLevel; track item) {
        <mat-option [value]="item.data">{{ item.name }}</mat-option>

        }
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Campo para seleccionar el archivo -->
  <div class="field">
    <input type="file" (change)="onFileSelected($event)" accept=".pdf" />
  </div>

  <!-- Botón para enviar el formulario -->
  <button
    class="button-upload"
    type="submit"
    [disabled]="uploadForm.invalid || spinner"
  >
    @if (spinner) {
    <span class="loader"></span>
    } @else {Cargar}
  </button>
</form>
