<section class="container-login">
  <!-- <div class="section-language">
    <div class="input-language">
      <label class="input-label">Idioma</label>
      <select placeholder="Language">
        @for (language of languages; track language) {
        <option [value]="language">{{ language }}</option>
        }
      </select>
    </div>
  </div> -->
  <div class="login-card">
    <img class="logo" src="../../../../assets/icons/logo_login.png" alt="" />
    <h2 class="title">Ingrese su correo para recuperar su cuenta</h2>
    <form [formGroup]="FormRecover">
      <div>
        <mat-form-field class="field">
          <mat-label>email</mat-label>
          <input formControlName="email" matInput />
          <span class="icon-input material-symbols-outlined" matSuffix
            >mail</span
          >
        </mat-form-field>
      </div>
    </form>
    <button
      (click)="sendEmail()"
      [disabled]="FormRecover.invalid || spinner"
      class="button-recover"
    >
      @if (spinner) {
      <span class="loader"></span>
      } @else {Enviar}
    </button>

    <div>
      <span class="text-register"
        >¿Ya tienes una cuenta?
        <span routerLink="/login" class="link">Inicia sesión</span>
      </span>
    </div>
  </div>
</section>
